

/* .container {
    max-width: 960px;
} */

.mns-title-logo {
    width: 1.8em;
    height: 1.8em;
}

.mns-icon {
    width: 1.8em;
    height: 1.8em;
    margin-right: 10px;
}

.mns-title-data {
    margin-left: 0.4em;
}

.mns-title-subtitle {
    display: block;
    font-family: "Circular";
    font-size: 9px;
    line-height: 1;
    color: #162a32;
    font-weight: 500;
    letter-spacing: -0.1;
    opacity: 0.41;
}

.mns-title-title {
    display: block;
    font-family: "Circular";
    font-size: 20px;
    line-height: 20px;
    color: #2b2b2b;
    font-weight: bold;
    letter-spacing: -1.1px;
}

input[type=text] {
    box-sizing: border-box !important;
    font-size: inherit !important;
}

select.form-control {
    font-size: inherit !important;
}

@media (max-width: 767px) {
    .mns-title-title {
        font-size: 14px;
        line-height: 13px;
        letter-spacing: -0.8px;
    }
}

